<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TOLC</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.asu.tolc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.asu.tolc.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostQuestion</servlet-name>
    <servlet-class>com.asu.tolc.servlet.PostQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostQuestion</servlet-name>
    <url-pattern>/PostQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostReplyServlet1</servlet-name>
    <servlet-class>com.asu.tolc.servlet.PostReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostReplyServlet1</servlet-name>
    <url-pattern>/PostReplyServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenQuestionServlet1</servlet-name>
    <servlet-class>com.asu.tolc.servlet.OpenQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenQuestionServlet1</servlet-name>
    <url-pattern>/OpenQuestionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddReplyServlet1</servlet-name>
    <servlet-class>com.asu.tolc.servlet.AddReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReplyServlet1</servlet-name>
    <url-pattern>/AddReplyServlet1</url-pattern>
  </servlet-mapping>
</web-app>